.container {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  margin: 20px auto;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background: pink;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
