body{
    font-family: Arial, sans-serif;
    background:#f2f2f2;
    margin:0;
}

.container{
    text-align:center;
    margin-top:50px;
}

input{
    display:block;
    margin:10px auto;
    padding:10px;
    width:220px;
}

button{
    padding:10px 20px;
    margin-top:10px;
    cursor:pointer;
}


.message{
    margin:15px;
    font-weight:bold;
}

.board{
    display:grid;
    grid-template-columns:repeat(3,120px);
    grid-template-rows:repeat(3,120px);   /* ⭐ CRITICAL FIX */
    justify-content:center;
	width:360px;
    height:360px;
}

.cell{
    width:120px;
    height:120px;
    background:#e6a7af;
    border:2px solid black;
    font-size:40px;
    text-align:center;
    line-height:120px;   /* ⭐ vertical center without flex */
    cursor:pointer;
}

.winner{
    background:purple;
    color:white;
}